@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Raleway&family=Roboto&display=swap");

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #404040;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    color: #dcdcdc;
}

.app p {
    width: 80vw;
}

@media only screen and (max-width: 850px) {
    html,
    body {
        width: 100vw;
        height: 100%;
        margin: 0;
        background-color: #404040;
        overflow: scroll;
    }
}
